#cabecera {

    background: #a333;
    text-align: center;
    margin: 0;
    font-weight: bold;
}


#footer {
    
    background: #43be9cb9;
    color: rgba(28, 22, 22, 0.584);
    text-align: center;
    padding: 0.3em;
}


#cuerpo {
   
    background: cornflowerblue;
    text-align: center;
    font-family: "Arial";
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;  

}

